<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab 1 content mdr lol</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button (click)="sayHi1()">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>sayHi1: {{hi1}} </ion-label>
    </ion-button>
  </div>

  <div>
    <p>
      Sending a POST Request Example
    </p>
    <ion-button ion-button (click)="sendPostRequest()">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>post data </ion-label>

    </ion-button>
  </div>


</ion-content>
